# Ignore Python cache files and directories
__pycache__/

# Ignore Environmental Variables
.env

# Virtual Environment
myenv/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
